
.aboutATIA {
    text-align: center;
    margin-top: 100px;
}

.title {
    font-weight: 600;
    font-size: var(--font-48) !important;
    font-family: 'Montserrat', sans-serif;
    color: var(--color6) !important;
}

.subtitle {
    text-align: center;
    font-family: var(--font1);
    font-weight: 400;
    font-size: var(--font-20);
    line-height: 28px;
    color: var(--color5);
    max-width: 630px;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.section {
    display: flex;
    align-items: center; /* Centers text & image */
    justify-content: space-between;
    gap: 40px;
    padding: 40px 0;
}

.reverse {
    flex-direction: row-reverse;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligne tout le contenu à gauche */
    flex: 1;
    text-align: left;
    min-height: 400px;
    max-width: 600px; 

}
.pg{
    line-height: 33px;

    max-height: 330px;
    max-width: 540px; 
    font-size: var(--font-22);

}

.section-title {
    margin: 0; /* Supprime les marges qui peuvent centrer */
    padding: 0;
    text-align: left;
    width: 100%; /* Assure que le h2 prend toute la largeur disponible */
    font-size: 22px;
    font-weight: bold;
    color: var(--color6);
    margin-bottom: 10px;
}

p {
    font-family: var(--font1);
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    color: var(--color4);
    max-width: 100%; /* Permet aux paragraphes de s'aligner avec le titre */
}


.card-container {
    width: 547px; /* Adjust as needed */
    padding: 40px;
    height: 357.8px;
    background-color: #F9F4F0;
    border-radius: 16px; /* Large radius for corner effects */
    display: flex; /* Center the card-header inside */
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.card-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color1);
    background-color: var(--color2);
    width: 300.5px;
    height: 300.5px;
    border: 1.28419px solid #FFFFFF;
    border-radius: 41px !important;
}
.profile-image {
    width: 133px;
    height: 133px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    display: block;
    aspect-ratio: 1 / 1;
}
.name {
    font-size: calc(var(--font-25) + 0.68px) !important;
    margin-bottom: 10px;
    color: #FFFFFFF2;
    width: 100%;
    white-space: nowrap;
    text-align: center;
  }
  
.title1 {
    font-size: calc(var(--font-16) + .69px);
    margin-bottom: 5px;
    color:#FFFFFFCC;
}
  
.honorary {
    font-size: calc(var(--font-16) + .69px);
    color: #FFFFFFCC;

}

.corner-box {
    position: absolute;
    width: 234px; 
    height: 234px;
    background-color: transparent;
    border: 2px solid #E0E0E063;
    border-radius: 32.5px;
}

.top-left { top: -172.09px; left: -130px; }
.top-right { top: -172.09px; right: -130px; }
.bottom-left { bottom: -172.09px; left: -130px; }
.bottom-right { bottom: -172.09px; right: -130px; }
.bottom{bottom: -195.84px;}
.top{top: -195.84px;}

.profile-image2 {
    width: 233.56px;
    height: 233.56px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    display: block;
    aspect-ratio: 1 / 1;
}