section {
    margin-top: 70px;
    text-align: center;
}

h2 {
    margin-top: var(--margin-y);
    font-weight: 600;
    font-size: calc(var(--font-size) + 12px);
    font-family: var(--font1);
    line-height: 1.2;
    color: var(--color3);
}

/* Image Container */
.img-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--margin-y);
    gap: calc(var(--gap) + 100px);
    flex-wrap: wrap;
}

/* Images */
.img-items > img {
    width: auto;
    height: auto;
    max-height: var(--image-height);
}
