:root {
  /* colors */
  --color1: white;
  --color2: #F89A32;
  --color3: #201E1E;
  --color4: #000000CC;
  --color5: #7A7A7A;
  --color6: #0A2918;
  --color7: #5A5A5A;
  --color8: #6B7280;
  --color9: #233876;
  --color10: #040505CC;
  --color11: #040505;
  --color12: #AAAAAA;
  --color13: #1A1A1AF2;
  --color14:#F4F4F4;
  --color15:#E0E0E063;
  

  /* font */
  --font1: 'Montserrat', sans-serif;
  --font2: 'Mona-Sans', sans-serif;
  --font-size: clamp(9px, 1vw, 18px);
  --font-16: clamp(8px, 1vw, 16px);
  --font-20: clamp(12px, 2vw, 20px);
  --font-22: clamp(13px, 2vw, 22px);

  --font-25: clamp(14px, 2.5vw, 25px);
  --font-28: clamp(16px, 3vw, 28px);
  --font-32: clamp(26px, 3vw, 32px);
  --font-36: clamp(20px, 4vw, 36px);
  --font-48: clamp(24px, 5vw, 48px);
  --font-64: clamp(30px, 6vw, 64px);

  /* spacing */
  --padding-x: clamp(10px, 5vw, 40px);
  --padding-y: clamp(5px, 2vw, 20px);
  --margin-x: clamp(10px, 4vw, 30px);
  --margin-y: clamp(5px, 2vw, 15px);
  --gap: clamp(8px, 2vw, 24px);

  /* images */
  --width:clamp(50px, 5vw, 100px);
  --height:clamp(50px, 5vw, 100px);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
